In [8]:
import pickle
import itertools
import pandas as pd

In [4]:
wmt_scored = pickle.load(open('wmt16-19_toen_scored.pkl', 'rb'))
wmt_scored.head(1)

,lp,HITId,WorkerId,score,time,system,type,sid,reference,source,...,chrf:statistics_10,chrf:statistics_11,chrf:statistics_12,chrf:statistics_13,chrf:statistics_14,chrf:statistics_15,chrf:statistics_16,chrf:statistics_17,bert_score:f1,bleurt_score
0,de-en,3QQUBC64ZEEFIPT2SKINDZZTZ3SNXN,A0077,78,2052.0,online-G,SYSTEM,1906,Rather than having an executive make the annou...,Anstatt einen Manager die Ankündigung machen z...,...,151,95,145,150,85,144,149,76,0.941347,-0.00404

In [9]:
def pairs(x):
    for (year, lp), group in x.groupby(['year', 'lp']):
        systems = group.system.unique()
        
        for i, j in itertools.combinations(systems, 2):
            yield (year, lp), i, j

len(list(pairs(wmt_scored)))

1324

In [12]:
df = pd.DataFrame(wmt_scored.groupby(['year', 'lp', 'system']).type.value_counts().unstack(3).fillna(0).astype(int))
df

type                       REPEAT  SYSTEM
year lp    system
2016 cs-en PJATK              347    2464
           cu-mergedtrees     347    2437
           jhu-pbmt           335    2432
           online-A           356    2460
           online-B           342    2451
...                           ...     ...
2019 zh-en online-A.0           0    1342
           online-B.0           0    1387
           online-G.0           0    1314
           online-X.0           0    1312
           online-Y.0           0    1375

[261 rows x 2 columns]

In [13]:
print(df.to_latex())

\begin{tabular}{lllrr}
\toprule
     &       & type &  REPEAT &  SYSTEM \\
year & lp & system &         &         \\
\midrule
2016 & cs-en & PJATK &     347 &    2464 \\
     &       & cu-mergedtrees &     347 &    2437 \\
     &       & jhu-pbmt &     335 &    2432 \\
     &       & online-A &     356 &    2460 \\
     &       & online-B &     342 &    2451 \\
     &       & uedin-nmt &     373 &    2456 \\
     & de-en & KIT &     427 &    2941 \\
     &       & jhu-pbmt &     411 &    2956 \\
     &       & jhu-syntax &     444 &    2933 \\
     &       & online-A &     427 &    2966 \\
     &       & online-B &     413 &    2962 \\
     &       & online-F &     415 &    2968 \\
     &       & online-G &     428 &    2960 \\
     &       & uedin-nmt &     416 &    2936 \\
     &       & uedin-pbmt &     413 &    2957 \\
     &       & uedin-syntax &     426 &    2961 \\
     & fi-en & PROMT-SMT &     413 &    2939 \\
     &       & UH-factored &     403 &    2928 \\
     &       & UH-opus &     439 &    2915 \\
     &       & jhu-pbmt &     413 &    2929 \\
     &       & online-A &     417 &    2923 \\
     &       & online-B &     413 &    2917 \\
     &       & online-G &     376 &    2929 \\
     &       & uedin-pbmt &     455 &    2906 \\
     &       & uedin-syntax &     431 &    2934 \\
     & ro-en & LIMSI &     261 &    1986 \\
     &       & jhu-pbmt &     272 &    2004 \\
     &       & online-A &     284 &    2022 \\
     &       & online-B &     272 &    2001 \\
     &       & uedin-nmt &     306 &    1993 \\
     &       & uedin-pbmt &     318 &    2007 \\
     &       & uedin-syntax &     287 &    1987 \\
     & ru-en & AFRL-MITLL-Phrase &     471 &    3233 \\
     &       & AFRL-MITLL-contrast &     485 &    3258 \\
     &       & AMU-UEDIN &     456 &    3222 \\
     &       & NRC &     421 &    3252 \\
     &       & PROMT-Rule-based &     465 &    3247 \\
     &       & online-A &     490 &    3248 \\
     &       & online-B &     457 &    3228 \\
     &       & online-F &     442 &    3263 \\
     &       & online-G &     481 &    3233 \\
     &       & uedin-nmt &     462 &    3226 \\
     & tr-en & PROMT-SMT &     275 &    1799 \\
     &       & ParFDA &     235 &    1772 \\
     &       & dvorkanton &     257 &    1792 \\
     &       & jhu-pbmt &     243 &    1771 \\
     &       & jhu-syntax &     251 &    1762 \\
     &       & online-A &     260 &    1790 \\
     &       & online-B &     249 &    1804 \\
     &       & online-G &     263 &    1835 \\
     &       & tbtk-syscomb &     267 &    1775 \\
2017 & cs-en & PJATK.4760 &     487 &    4979 \\
     &       & online-A.0 &     495 &    5117 \\
     &       & online-B.0 &     482 &    4934 \\
     &       & uedin-nmt.4955 &     486 &    5012 \\
     & de-en & C-3MA.4958 &     420 &    2915 \\
     &       & KIT.4951 &     428 &    2967 \\
     &       & LIUM-NMT.4733 &     435 &    2894 \\
     &       & RWTH-nmt-ensemble.4920 &     393 &    2862 \\
     &       & SYSTRAN.4846 &     436 &    2909 \\
     &       & TALP-UPC.4830 &     409 &    2845 \\
     &       & online-A.0 &     429 &    2913 \\
     &       & online-B.0 &     383 &    2797 \\
     &       & online-F.0 &     411 &    2867 \\
     &       & online-G.0 &     421 &    2892 \\
     &       & uedin-nmt.4723 &     369 &    2794 \\
     & fi-en & Hunter-MT.4925 &     489 &    4110 \\
     &       & TALP-UPC.4937 &     478 &    4109 \\
     &       & apertium-unconstrained.4793 &     500 &    4107 \\
     &       & online-A.0 &     471 &    4069 \\
     &       & online-B.0 &     479 &    4180 \\
     &       & online-G.0 &     445 &    4108 \\
     & lv-en & C-3MA.5067 &     430 &    2931 \\
     &       & Hunter-MT.5092 &     365 &    2956 \\
     &       & PJATK.4740 &     390 &    2969 \\
     &       & jhu-pbmt.4980 &     406 &    2980 \\
     &       & online-A.0 &     412 &    2932 \\
     &       & online-B.0 &     404 &    2904 \\
     &       & tilde-c-nmt-smt-hybrid.5051 &     426 &    3033 \\
     &       & tilde-nc-nmt-smt-hybrid.5050 &     437 &    3032 \\
     &       & uedin-nmt.5017 &     386 &    2928 \\
     & ru-en & NRC.4855 &     322 &    2399 \\
     &       & afrl-mitll-opennmt.4896 &     370 &    2443 \\
     &       & afrl-mitll-syscomb.4905 &     375 &    2472 \\
     &       & jhu-pbmt.4978 &     304 &    2381 \\
     &       & online-A.0 &     322 &    2368 \\
     &       & online-B.0 &     353 &    2440 \\
     &       & online-F.0 &     345 &    2419 \\
     &       & online-G.0 &     342 &    2404 \\
     &       & uedin-nmt.4890 &     360 &    2418 \\
     & tr-en & JAIST.4859 &     301 &    2287 \\
     &       & LIUM-NMT.4888 &     319 &    2252 \\
     &       & PROMT-SMT.4737 &     296 &    2226 \\
     &       & afrl-mitll-m2w-nr1.4901 &     337 &    2347 \\
     &       & afrl-mitll-syscomb.4902 &     303 &    2205 \\
     &       & jhu-pbmt.4972 &     351 &    2304 \\
     &       & online-A.0 &     341 &    2285 \\
     &       & online-B.0 &     289 &    2232 \\
     &       & online-G.0 &     342 &    2282 \\
     &       & uedin-nmt.4931 &     333 &    2221 \\
     & zh-en & CASICT-DCU-NMT.5144 &     292 &    2066 \\
     &       & NMT-Model-Average-Multi-Cards.5099 &     311 &    2115 \\
     &       & NRC.5172 &     296 &    2086 \\
     &       & Oregon-State-University-S.5173 &     266 &    2126 \\
     &       & PROMT-SMT.5125 &     314 &    2099 \\
     &       & ROCMT.5183 &     305 &    2117 \\
     &       & SogouKnowing-nmt.5171 &     297 &    2113 \\
     &       & UU-HNMT.5162 &     278 &    2133 \\
     &       & afrl-mitll-opennmt.5109 &     321 &    2149 \\
     &       & jhu-nmt.5151 &     294 &    2127 \\
     &       & online-A.0 &     307 &    2151 \\
     &       & online-B.0 &     289 &    2102 \\
     &       & online-F.0 &     327 &    2156 \\
     &       & online-G.0 &     318 &    2132 \\
     &       & uedin-nmt.5112 &     310 &    2091 \\
     &       & xmunmt.5160 &     306 &    2142 \\
2018 & cs-en & CUNI-Transformer.5560 &     221 &    2218 \\
     &       & online-A.0 &     187 &    2252 \\
     &       & online-B.0 &     211 &    2228 \\
     &       & online-G.0 &     205 &    2226 \\
     &       & uedin.5561 &     231 &    2230 \\
     & de-en & JHU.5706 &     312 &    2756 \\
     &       & LMU-nmt.5756 &     291 &    2743 \\
     &       & LMU-unsup.5650 &     296 &    2740 \\
     &       & MLLP-UPV.5554 &     301 &    2728 \\
     &       & NJUNMT-private.5406 &     299 &    2723 \\
     &       & NTT.5666 &     277 &    2727 \\
     &       & RWTH-UNSUPER.5482 &     278 &    2688 \\
     &       & RWTH.5636 &     283 &    2712 \\
     &       & UCAM.5690 &     296 &    2749 \\
     &       & Ubiqus-NMT.5635 &     265 &    2751 \\
     &       & online-A.0 &     290 &    2753 \\
     &       & online-B.0 &     287 &    2769 \\
     &       & online-F.0 &     285 &    2747 \\
     &       & online-G.0 &     275 &    2762 \\
     &       & online-Y.0 &     296 &    2735 \\
     &       & uedin.5766 &     293 &    2762 \\
     & et-en & CUNI-Kocmi.5618 &     239 &    1838 \\
     &       & HY-NMT-et-en.5463 &     220 &    1832 \\
     &       & M4t1ss.5692 &     246 &    1828 \\
     &       & NICT.5664 &     229 &    1809 \\
     &       & UnsupTartu.5722 &     233 &    1786 \\
     &       & neurotolge.ee.5398 &     223 &    1839 \\
     &       & online-A.0 &     247 &    1839 \\
     &       & online-B.0 &     230 &    1859 \\
     &       & online-G.0 &     229 &    1782 \\
     &       & talp-upc.5421 &     237 &    1823 \\
     &       & tilde-c-nmt-comb.5718 &     239 &    1837 \\
     &       & tilde-c-nmt.5715 &     235 &    1897 \\
     &       & tilde-nc-nmt.5485 &     222 &    1828 \\
     &       & uedin.5562 &     214 &    1828 \\
     & fi-en & CUNI-Kocmi.5619 &     245 &    1821 \\
     &       & HY-NMT-fi-en.5569 &     239 &    1861 \\
     &       & JUCBNMT.5559 &     253 &    1797 \\
     &       & NICT.5515 &     273 &    1832 \\
     &       & online-A.0 &     257 &    1888 \\
     &       & online-B.0 &     250 &    1829 \\
     &       & online-G.0 &     244 &    1858 \\
     &       & talp-upc.5423 &     277 &    1863 \\
     &       & uedin.5631 &     241 &    1840 \\
     & ru-en & Alibaba.5720 &     265 &    1989 \\
     &       & JHU.5675 &     263 &    1973 \\
     &       & afrl-ruen-syscomb.5440 &     266 &    1921 \\
     &       & online-A.0 &     265 &    1982 \\
     &       & online-B.0 &     234 &    1924 \\
     &       & online-F.0 &     226 &    1959 \\
     &       & online-G.0 &     279 &    1983 \\
     &       & uedin.5739 &     235 &    1947 \\
     & tr-en & NICT.5708 &     455 &    3394 \\
     &       & online-A.0 &     444 &    3395 \\
     &       & online-B.0 &     449 &    3329 \\
     &       & online-G.0 &     406 &    3390 \\
     &       & uedin.5709 &     496 &    3413 \\
     & zh-en & Li-Muze.5736 &     271 &    2066 \\
     &       & NICT.5539 &     280 &    2027 \\
     &       & NiuTrans.5740 &     302 &    2074 \\
     &       & Tencent-ensemble-system.5742 &     297 &    2033 \\
     &       & UCAM.5586 &     320 &    2106 \\
     &       & UMD.5681 &     282 &    2060 \\
     &       & Unisound.5668 &     321 &    2082 \\
     &       & Unisound.5712 &     310 &    2034 \\
     &       & online-A.0 &     285 &    2104 \\
     &       & online-B.0 &     298 &    2039 \\
     &       & online-F.0 &     297 &    2028 \\
     &       & online-G.0 &     282 &    2046 \\
     &       & online-Y.0 &     274 &    2071 \\
     &       & uedin.5652 &     281 &    2049 \\
2019 & fi-en & GTCOM-Primary.6946 &     250 &    1724 \\
     &       & Helsinki-NLP.6889 &     245 &    1703 \\
     &       & MSRA.NAO.6983 &     229 &    1647 \\
     &       & TartuNLP-c.6905 &     250 &    1695 \\
     &       & USYD.6995 &     224 &    1683 \\
     &       & apertium-fin-eng-unconstrained-fien.6449 &     253 &    1719 \\
     &       & online-A.0 &     230 &    1689 \\
     &       & online-B.0 &     264 &    1718 \\
     &       & online-G.0 &     243 &    1690 \\
     &       & online-X.0 &     265 &    1717 \\
     &       & online-Y.0 &     247 &    1712 \\
     &       & parfda.6526 &     240 &    1664 \\
     & gu-en & CUNI-T2T-transfer-guen.6431 &     200 &    1391 \\
     &       & GTCOM-Primary.6969 &     174 &    1382 \\
     &       & IIITH-MT.6688 &     167 &    1306 \\
     &       & IITP-MT.6824 &     186 &    1356 \\
     &       & Ju-Saarland.6525 &     202 &    1373 \\
     &       & NEU.6756 &     211 &    1371 \\
     &       & NICT.6603 &     200 &    1367 \\
     &       & UEDIN.6534 &     192 &    1378 \\
     &       & UdS-DFKI.6861 &     228 &    1347 \\
     &       & aylien-mt-gu-en-multilingual.6826 &     201 &    1348 \\
     &       & online-G.0 &     184 &    1383 \\
     & kk-en & CUNI-T2T-transfer-kken.6436 &     236 &    1440 \\
     &       & DBMS-KU-KKEN.6726 &     221 &    1409 \\
     &       & Frank-s-MT.6127 &     221 &    1465 \\
     &       & NEU.6753 &     190 &    1435 \\
     &       & NICT.6770 &     186 &    1460 \\
     &       & NRC-CNRC.6895 &     198 &    1435 \\
     &       & UMD.6736 &     210 &    1474 \\
     &       & online-B.0 &     209 &    1487 \\
     &       & online-G.0 &     195 &    1511 \\
     &       & rug-kken-morfessor.6677 &     188 &    1463 \\
     &       & talp-upc-2019-kken.6657 &     232 &    1474 \\
     & lt-en & GTCOM-Primary.6998 &     247 &    1479 \\
     &       & JUMT.6616 &     221 &    1498 \\
     &       & MSRA.MASS.6945 &     205 &    1473 \\
     &       & NEU.6759 &     228 &    1515 \\
     &       & TartuNLP-c.6908 &     213 &    1526 \\
     &       & online-A.0 &     225 &    1488 \\
     &       & online-B.0 &     212 &    1515 \\
     &       & online-G.0 &     216 &    1475 \\
     &       & online-X.0 &     181 &    1494 \\
     &       & tilde-c-nmt.6876 &     240 &    1462 \\
     &       & tilde-nc-nmt.6881 &     197 &    1497 \\
     & ru-en & Facebook-FAIR.6937 &     245 &    1723 \\
     &       & MSRA.SCA.6976 &     235 &    1707 \\
     &       & NEU.6803 &     268 &    1750 \\
     &       & NICT.6561 &     247 &    1725 \\
     &       & TartuNLP-u.6650 &     259 &    1766 \\
     &       & afrl-ewc.6659 &     260 &    1728 \\
     &       & afrl-syscomb19.6782 &     236 &    1759 \\
     &       & eTranslation.6598 &     271 &    1746 \\
     &       & online-A.0 &     247 &    1754 \\
     &       & online-B.0 &     247 &    1732 \\
     &       & online-G.0 &     250 &    1762 \\
     &       & online-X.0 &     244 &    1730 \\
     &       & online-Y.0 &     266 &    1745 \\
     &       & rerank-re.6540 &     235 &    1699 \\
     & zh-en & Apprentice-c.6706 &       0 &    1365 \\
     &       & BTRANS-ensemble.6992 &       0 &    1335 \\
     &       & BTRANS.6825 &       0 &    1348 \\
     &       & Baidu-system.6940 &       0 &    1343 \\
     &       & KSAI-system.6927 &       0 &    1328 \\
     &       & MSRA.MASS.6942 &       0 &    1316 \\
     &       & MSRA.MASS.6996 &       0 &    1332 \\
     &       & NEU.6832 &       0 &    1345 \\
     &       & NICT.6814 &       0 &    1376 \\
     &       & UEDIN.6530 &       0 &    1368 \\
     &       & online-A.0 &       0 &    1342 \\
     &       & online-B.0 &       0 &    1387 \\
     &       & online-G.0 &       0 &    1314 \\
     &       & online-X.0 &       0 &    1312 \\
     &       & online-Y.0 &       0 &    1375 \\
\bottomrule
\end{tabular}

In [15]:
df.SYSTEM.min(), df.SYSTEM.max()

(1306, 5117)

In [20]:
df.sum(axis=1).min(), df.sum(axis=1).max()

(1312, 5612)

In [28]:
summeval_scored = pickle.load(open('summeval_flat.pkl', 'rb'))
summeval_scored.head(1)

,id,output,reference_1,system,r11_rouge_4_f_score,r11_meteor,r11_mover_score,r11_bert_score,r1_supert,type,score
0,dm-test-8764fb95bfad8ee849274873a92fb8d6b400eee2,paul merson was brought on with only seven min...,Andros Townsend an 83rd minute sub in Tottenha...,M11,0.00185,0.220548,0.207145,0.399867,0.508232,expert,2.25

In [50]:
df = pd.DataFrame(summeval_scored.groupby('system').type.value_counts().unstack(1))
df

type            expert  turker
system
M0               300.0   500.0
M1               300.0   500.0
M10              300.0   500.0
M11              300.0   500.0
M12              300.0   500.0
M13              300.0   500.0
M14              300.0   500.0
M15              300.0   500.0
M17              300.0   500.0
M2               300.0   500.0
M20              300.0   500.0
M22              300.0   500.0
M23              300.0   500.0
M23_dynamicmix   300.0     NaN
M5               300.0   500.0
M8               300.0   500.0
M9               300.0   500.0

In [49]:
import itertools
len(list(itertools.combinations(range(0,17), 2)))

136